.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
}

.navbarBrand {
  display: flex;
  align-items: center;
}

.navbarBrand img {
  height: 30px;
}

.icon {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
  margin-left:  -30px;
}

.icon:hover {
  color: #007bff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdownMenu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdownItem {
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdownItem:hover {
  background-color: #007bff;
  color: #fff;
}

 

.prof {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  
  transition: border-color 0.3s ease;
}

.prof:hover {
  border-color: #007bff;
}
.userRole{
  font-size:  x-small;
}
.userName{
  font-weight: bold ;
}

.notificationDropdown {
  position: absolute;
  top: 50px;  
  right: 20px;  
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 200px;  
}

.notificationItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notificationItem:last-child {
  border-bottom: none;
}

.notificationItem:hover {
  background-color: #f1f1f1;
}
