.loginButton {
  width: 100%; /* Full width on smaller screens */
  max-width: 300px; /* Limit the max width */
  border: none;
  background: #0e5db8;
  border-radius: 5px;
  padding: 10px; /* Increased padding for touch targets */
  color: seashell;
  transition: background-color 0.3s;
}

.loginButton:hover {
  background-color: #0a4d88; /* Darken on hover */
}
